elasticsearch
values.*.yaml
/.idea/
/.dev/
/tmp/
matomo
.vscode
.npmrc
mysql
/.github/CODEOWNERS
cypress-tests/cypress.env.json
cypress-tests/cypress/videos
cypress-tests/cypress/screenshots
cypress-tests/cypress/results
junit.xml