node_modules/*
[Ll]ogs/
[Ll]og/
postgres/data/*
postgres-staging/*
.vscode
coverage/*
secrets/*
.env
metadata/*
build/*
cobertura/
.npmrc
security_scan/route_check/output.txt
security_scan/route_check/routes.csv
.pnpm-debug.log
.pnpm-store/*
eslintReport.json
junit.xml