.gcPagination > .pagination > .active > a,
.doc-exp-nav > .gcPagination > .pagination > .active > a {
    background-color: #E9691D !important;
    border-color: #E9691D !important;
    color: white !important;
    padding: 11px 19px;
}

.gcPagination > .pagination > li > a {
    color: black !important;
    padding: 11px 19px;
}

.gcPagination > .pagination > .active > a:hover,
.doc-exp-nav > .gcPagination > .pagination > .active > a:hover{
    background-color: #E9691D !important;
    border-color: #E9691D !important;
}

.gcPagination > .pagination > .active > a:focus,
.doc-exp-nav > .gcPagination > .pagination > .active > a:focus {
    background-color: #E9691D !important;
    border-color: #E9691D !important;
}

.docExplorerPag > .pagination {
    margin: 0px 0 0 0;
}


.cardContainer {
    width: 25%;
    min-width: 351px;
}



/* for 15 inch mac screen 3 to a row  */
@media screen and (max-width: 1563px) {
    .cardContainer {
        min-width: 395px;
    }
}

.feedback-email-modal {
  position: fixed;
  top: 150px;
  width: 800px;
  left: 50%;
  padding: 25px;
  padding-right: 80px;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}
.feedback-email-modal:focus-visible{
   outline: none;
}
.feedback-modal:focus {
  outline: 0;
}

.feedback-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.15);
}

.flipCardContainer {
    transition: box-shadow .2s, transform .5s !important;
}

.flipCardContainer:hover {
    box-shadow: #386F94 0px 0px 2px 2px !important;
    border: 2px solid #386F94;
}

.pagination > li:first-child > a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.listViewContainer {
    transition: transform .5s !important;
}

.listViewContainer:hover {
    box-shadow: none !important;
    border: none;
}

.main-container { 
    background-color: white;
    min-height: calc(100vh - 30px);
}

#gc-user-dash .row > * { 
    width: auto; 
}

.analyst-tools-filters [class*="MuiAccordionSummary-root"] {
    height: auto !important;
}

.analyst-tools-filters [class*="MuiAccordion-root"] [class*="MuiAccordionSummary-content"] {
    margin: 0 !important;
}