.info{
    .stopped{
        background: rgba(255, 0, 0, .15) !important;
    }
    margin: 10px 80px;
    height: 100%;
    
    overflow-y: auto;
    .progress{
        margin-top:10px;
        text-align: center;
        box-shadow: none !important;
    }
    .info-container{
        text-align: left;
        .rt-expander:after {
            border-top: 7px solid rgb(245, 245, 245);
        }
    }
    
    .field{
        box-sizing: border-box;
        background: #171A23;
        color: rgb(245, 245, 245);
        border-radius: 8px;
        text-align: center;
        min-height: 50px;
        box-shadow: 0 0 px #23415d;
        legend{
            padding-left:5px;
            padding-right:5px;
            text-align: left;
            font-size: 18px;
        }
        .button{
            width:30%;
            margin: 1.5%;
            padding:6px;
            box-sizing: border-box;
            color: rgb(245, 245, 245) !important;
            cursor: pointer;
            float: left;
            box-shadow:none;
            border-radius: 4px;
            &:hover {
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
            }
            &:active {
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
            }
        }
        .-odd{
            background-color: rgba(255, 255, 255, 0.03) !important;
        }
        .rt-th{
            padding: 7px 5px;
        }
        input{
            color:rgb(245, 245, 245);
            background-color: rgba(255, 255, 255, 0.05);
        }
        option {
            color:rgb(245, 245, 245);
            background-color: rgba(0, 0, 0, 0.85);
        }
        select{
            color:rgb(245, 245, 245);
            background-color: rgba(255, 255, 255, 0.05);
        }
        .-btn{
            color: rgb(245, 245, 245);
            background-color: rgba(255, 255, 255, 0.05);
        }
        
    }
    .half{
        width: calc(50% - 5px);
        float: left;
        padding: 10px;
    }
    .ok{
        background: green;
    }
    .loading{
        background: #e7b416;
    }
    .warning{
        background: #e7b416;
    }
    .error{
        background: #cc3232;
    }
}
.bar{
    position: relative;
    background-color: #333333;
    box-shadow: 0 0 5px #333333;
    color: rgb(245, 245, 245) !important;
    border-radius: 5px;
    border-width: 1px;
    overflow: hidden;
    cursor: pointer;
    width:100%;
    min-height: 22px;
    transition: all .5s linear;
    .high{
        background: linear-gradient(rgba(255, 0, 0, .6),rgba(255, 0, 0, .2),rgba(255, 0, 0, .6));
    }
    .warning{
        background:linear-gradient(rgba(255,255,0, .6), rgba(255,255,0, .2), rgba(255,255,0, .6));
    }
    .ok{
        background:linear-gradient(rgba(0, 255, 0, .6),rgba(0, 255, 0, .2),rgba(0, 255, 0, .6));
    }
    
}
.progress-container{
    float: left;
    position: absolute;
    border-radius: 5px;
    border-width: 1px;
    height: 100%;
    transition: all .5s linear;
    box-shadow: none !important;
    background:darkcyan;
    
}
.row{
    padding: 2px 10px 2px 40px;
    width:100%;
}
.even{
    background:rgba(255, 255, 255, 0.05);
}
.code-container{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-transition: max-height 1s; 
    -moz-transition: max-height 1s; 
    -ms-transition: max-height 1s; 
    -o-transition: max-height 1s; 
    transition: max-height 1s;  
    overflow: hidden;
    .code-block{
        width: fit-content;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.Highlight--scrolledTo .Highlight__part {
    background: #ff8741;
    z-index: 1;
}
